#XfceNotifyWindow {
    background-color: #353535;
    border-radius: 0px;
    border: 1px solid #1c1c1c;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#353535, 1.0);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #f2f2f2;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#1c1c1c, 1.15);
    box-shadow: none;
    background-image: none;
    background-color: #353535;
    color: #f2f2f2;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: #525252;
    color: #dbdbdb;
}

#XfceNotifyWindow progressbar {
    min-height: 10px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #1f9ede;
    border: 1px solid shade (#1f9ede, 0.55);
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#1f9ede, 0.65),
                                      shade(#1f9ede, 0.55)
                                      );
    border: 1px solid shade(#1f9ede, 0.55);
    border-radius: 0px;
}
